<!DOCTYPE html>
<html lang="en">

  </head>
  <body>
  
<footer>
  <div class="container ">
    <div class=" row justify-content-center mt-5 text-center"><!-- fixed-bottom looks bad when feed is filled with post so i took it off -->
      <!-- <div class="col-4"></div>
      <div class="col-1"></div>
      <div class="col-2 mt-auto"> -->
        <a href="https://703-dev.com" class="webfoot">www.703-dev.com</a>
      <!-- </div> -->
      <!-- <div class="col-1"></div>
      <div class="col-4"></div> -->
    </div>
  </div>
</footer>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>



